.nft-sizing
    width: 25vw
    height: 25vw
    border-radius: 10px

.nft-padding
    margin: 0px
    padding: 0px

.nft-card
    position: relative
    margin-top: 10px
    & img
        display: block
        margin: 0 auto
        transition: opacity 0.4s

    & .nft-description
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        color: transparent

    &:hover img
        opacity: 0.4

    &:hover .nft-description
        color: white
